.music {
	padding-bottom: 20px;
	padding-left: 20px;
	flex-basis: 100%;
	text-align: left;
	padding-top: 10px;
}
.music .music-content {
	padding: 20px 0;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
	transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
	background-color: #929090;
}

.music .music-content.active {
	background: #cae9ff;
}
.music img {
	width: 50%;
	display: block;
	margin: 0 auto;
	border-radius: 7px;
}

.music div.right {
	margin-top: 15px;
	padding: 5px;
	font-size: 16px;
	text-align: center;
}
.music div.right .name {
	margin: 0;
	font-weight: 700;
	font-size: 16px;
	font-family: "Montserrat";
}
.music div.right .songs,
.music div.right .duration {
	font-size: 14px;
    text-align: center;
}
.music span.title {
	display: block;
}
@media (max-width: 1024px) and (min-width: 730px) {
	.music {
		flex-basis: 20%;
	}
}
@media (max-width: 730px) and (min-width: 551px) {
	.music {
		flex-basis: 30%;
	}
}
@media (min-width: 1025px) {
	.music {
		flex-basis: 15%;
	}
}
@media (max-width: 550px) {
	.music {
		padding: 10px 20px;
	}
	.music .music-content {
		padding: 10px;
		transition: none;
	}
	.music .music-content .image-wrapper {
		display: inline;
	}
	.music .music-content img {
		width: 20%;
		display: inline;
		margin-right: 10px;
	}
	.music .music-content .right {
		display: inline-block;
		margin: 0;
		vertical-align: top;
		text-align: left;
		width: 70%;
	}
	/* .music .music-content:hover { */
		/* transform: none; */
		/* cursor: pointer; */
	/* } */
}
