* {
    padding: 0;
    margin: 0;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 9rem;
}

nav {
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
}

.songs-btn, .artists-btn, .albums-btn, .logout-btn {
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

.songs-btn:hover, .artists-btn:hover, .albums-btn:hover, .logout-btn:hover {
    background-color: #cccccc;
    cursor: pointer;
}
